.wrapper {
    height: 100svh;
}
.card {
    max-width: 28svw;
    .card-header {
        background-color: #0261b0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .logo {
        width: 5svw;
    }
    .smaller-logo {
        width: 3svw;
    }
    .hr-line {
        height: 2px;
        background-color: rgb(204, 203, 203);
        width: 100%;
    }
    .btn-primary-custom {
        background-color: #0261b0;
    }
}

.smaller {
    font-size: smaller;
} 


@media (max-width: 768px) {
    .card {
        max-width: 100svw;
        .logo {
            width: 12svw;
        }
        .smaller-logo {
            width: 10svw;
        }
    }
    
}